In [1]:
#1. 자료형 
#2. 조건문
#3. 반복문
#4. 함수 (def, ...lambda)...functional programming(map, filter, reduce)

In [2]:
#esc+"h"
#shift_enter: 실행
1+100

101

In [4]:
#ctrl + "/": 주석처리 
#esc+"x": 셀삭제

In [5]:
greeting = 'hello world'
#index: 0...value: h
greeting[0]

'h'

In [7]:
greeting[0:4]

'hell'

In [8]:
greeting[-1]

'd'

In [9]:
10>20 #10+20 , >, + 모두 operator
#True, False(Boolean)

False

In [11]:
True and False

False

In [12]:
True and True

True

In [13]:
#list - 넣은 순서에 대한 보장 유, 중복 허용
#set - 순서에 대한 보장 무, 중복 허용 안됨 
#tuple - 한번 만들면 변경 x, 데이터를 전달하기 쉽다 
#dictionary - key->value, 순서에 대한 보장 x, key 값에 대한 중복이 허용되지 x
#array - 1차원의 배열 데이터
#   [1,2,3,4,5]
#numpy.ndarray (n차원의 배열 데이터)

In [15]:
animals = ["dog","dog",'dog','cat','bird']

In [16]:
animals

['dog', 'dog', 'dog', 'cat', 'bird']

In [17]:
animals[0]

'dog'

In [18]:
animals[-2]

'cat'

In [19]:
data = [
    [1,2],
    [3,4],
]

In [20]:
data[0]

[1, 2]

In [21]:
data =[
    [1,2,],
    [3,4,],
]

In [22]:
data[0]

[1, 2]

In [23]:
animals = set(['dog','dog','cat','bird'])

In [27]:
animals

{'bird', 'cat', 'dog'}

In [29]:
data = [1,1,1,4,4,5,5,2,2,3,0,] #list
#list... set...list

In [30]:
list(set(data))

[0, 1, 2, 3, 4, 5]

In [31]:
animals = ["dog","dog",'dog','cat','bird']

In [32]:
animals[0]

'dog'

In [33]:
animals[0] = "fish"

In [34]:
animals

['fish', 'dog', 'dog', 'cat', 'bird']

In [36]:
animals = ("dog","dog",'dog','cat','bird')
animals[0]

'dog'

In [37]:
animals[0] = "fish"

TypeError: 'tuple' object does not support item assignment

In [39]:
rectangle = (100,200)
width,height = rectangle
width*height

20000

In [40]:
#           name    email                 address
studnet = ["박희원","hwpark0502@gmail.com","서울시 강남구 "]

In [41]:
student = {"name": "chloe", "email":"hwpark0502@gmail.com"}

In [42]:
student

{'email': 'hwpark0502@gmail.com', 'name': 'chloe'}

In [44]:
student["age"] = 30

In [45]:
student

{'age': 30, 'email': 'hwpark0502@gmail.com', 'name': 'chloe'}

In [47]:
data = {
    "key": "value",
    10: 100,
    (10,10): 100,
}
data

{'key': 'value', 10: 100, (10, 10): 100}

In [48]:
data[(10,10)]

100